<section class="main">
  <div class="container">
    <div class="main__inner">

      <div class="main__h1">
        <h1> <span class="design-color">Lorem ipsum</span>   dolor sit ametconsectetur <span>adipiscing</span> </h1>
      </div>
      <div class="main__info">
        <p class="main__info-text">At vero eos et accusamus et iusto odio dignissimos ducimus!</p>
        <ul class="main__list">
          <li class="main__list-item"><span>-&nbsp;</span> Totam rem aperiam eaque ipsa</li>
          <li class="main__list-item"><span>-&nbsp;</span> Sit voluptatem accusantium doloremque laudantium</li>
          <li class="main__list-item"><span>-&nbsp;</span> Sed ut perspiciatis, unde omnis iste natus error</li>
        </ul>
      </div>
      <div class="main__buttons">
        <div class="button button--active"><span>заказать</span></div>
        <div class="button"><span>подробнее</span></div>
      </div>
      
    </div>
  </div>
</section>
</div>


<section class="order">
  <div class="container">

    <div class="order__header">
      <div class="order__title">
        <h2>Оформление <span class="design-color">Заказа</span></h2>
      </div>
      <div class="order__text">
        <p>Перед заполнением формы ознакомьтесь с нашей схемой работы!</p>
      </div>
    </div>

    <div class="order__content">
        <div class="order__content-elem">
          <div class="order__content-img"></div>
          <div class="order__content-text">Lorem ipsum dolorsit amet</div>
          <div class="order__content-circles progress-circles">
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
          </div>
        </div>
        <div class="order__content-elem">
          <div class="order__content-img"></div>
          <div class="order__content-text">Сonsecteturadipiscing elit</div>
          <div class="order__content-circles progress-circles">
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
          </div>
          
        </div>
        <div class="order__content-elem">
          <div class="order__content-img"></div>
          <div class="order__content-text">Sed do eiusmod tempor</div>
          <div class="order__content-circles progress-circles">
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
          </div>
          
        </div>
        <div class="order__content-elem">
          <div class="order__content-img"></div>
          <div class="order__content-text">Esse cillum doloreeu fugiat</div>
          <div class="order__content-circles progress-circles">
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
            <div class="circle"> </div>
          </div>
        </div>
        <div class="order__content-elem">
          <div class="order__content-img"></div>
          <div class="order__content-text">Excepteur sint occaecat cupidatat non proident</div>
        </div>



    </div>


    <div class="order__form">
      <form id="order__form-inner" class="order__form-inner" >

        <div class="order__triple-blocks">
          <div class="order__triple-item">

            <select name="select" class="select"> 
              <option value="value1" selected>Выберите тип системы</option>
              <option value="value1" > Sed ut perspiciatis</option>
              <option value="value2" > Nemo enim ipsam</option>
              <option value="value3" > Et harum quidem</option>
              <option value="value4" > Temporibus autem</option>
              <option value="value5" > Itaque earum rerum</option>
            </select>

          </div>

          <div class="order__triple-item">
            <input class="input" type="text" name="phone" placeholder="Ваш e-mail">
          </div>

          <div class="order__triple-item">
            <input class="input" type="text" name="name" placeholder="Ваше имя">
          </div>

        </div>

        <div class="order__double-blocks">
          <div class="order__double-item ">
            <div class="progress-block">
              <input class="progress" type="range" value="75" min="0" max="100" /> 
            </div>
          </div>
          <div class="order__triple-item file">
            <input id="file__input" class="file__input input" type="file" name="file">
            <label for="file__input" class="file__label input">
              <span class="file__text">Прикрепить файл</span>
            </label>
          </div>
        </div>

          


        <div class="order__single-item">
          <div id="send-form" class="send-form">
            <span>Отправить</span>
          </div>
        </div>
        
      </form>
    </div>

  </div>
</section>

