<footer class="footer">
  <div class="container">
    <div class="footer__inner">

      <div class="footer__item">
        <div class="copyright">
          &#169; 2018 <span>«LoremIpsum.net»</span>  Все права защищены.
        </div>
      </div>

      <div class="footer__item">

        <div class="payments">
          <a class="payments__elem qiwi" title="Оплатить через Qiwi"><img src="img/qiwi.svg" alt=""> <span>Qiwi wallet</span>  </a>
          <a class="payments__elem yandex-money" title="Оплата через yandex money"> <img src="img/yandex-money.svg" alt=""> <span>Yandex Money</span> </a>
          <a class="payments__elem web-money" title="Выплаты через web money"><img src="img/web-money.svg" alt=""> <span>Web Money</span>  </a>
        </div>

        <div class="social-networks">
          <a href="mailto:emailhere@something.com" title="Отправить на почту" class="social-networks__elem email">
            <img src="img/email.svg" alt=""> 
            <span>info@ipsum228.com</span> 
          </a>
          <a href="https://vk.com/" title="Мы вконтакте" class="social-networks__elem vk">
            <img src="img/vk.svg" alt=""> 
            <span>Мы вконтакте </span>
          </a>
        </div>

      </div> 
      
    </div>
  </div>
</footer>
