<div class="wrapper">
  <header class="header">
    <div class="container">
      <div class="header__inner">

        <div class="header__logo">
          <a href="/">LoremIpsum<span class="design-color">.Net</span></a>
        </div>

        <nav class="header__menu">
          <ul class="header__menu-inner">
              <li class="header__menu-item"><a class="header__menu-link header__menu-link--active" href="/business" title="Бизнес">Бизнес</a></li>
              <li class="header__menu-item"><a class="header__menu-link" href="/about-us" title="Страница о нас">О нас</a></li>
              <li class="header__menu-item"><a class="header__menu-link" href="/prices" title="Наши цены">Цены</a></li>
              <li class="header__menu-item"><a class="header__menu-link" href="/order" title="Как оформить заказ">Оформить заказ</a></li>
            </ul>
        </nav>

        <div class="header__burger">
          <button class="mobile-menu-btn">
            <span></span>
          </button>
        </div>


      </div>
    </div>
  </header>
 
 
 


