// breakpoints

$mw1: 576;
$mw11: 575.98;
$mw2: 768;
$mw21: 767.98;
$mw3: 992;
$mw31: 991.98;
$mw4: 1200;
$mw41: 1199.98;
$mw5: 1440;
$mw51: 1439.98;
$mw6: 1920 ;
$mw61: 1919.98;

//Resolution for desktop
 
// 2560x1440
// 2560x1080
// 1920x1200
// 1920x1080
// 1650x1050
// 1600x900
// 1440x900
// 1366x768
// 1280x1024
// 1280x720

// Минимальные размеры до которых стоит проверять адаптивность десктопной версии - 1025px по ширине, и 550px по высоте.